body {
    background-image: url('5.jpg'); /* Укажите путь к желаемой картинке */
    background-size: cover; /* Масштабирование фона до заполнения всего контейнера */
    background-position: center; /* Центрирование картинки по горизонтали и вертикали */
    background-repeat: no-repeat; /* Запрет повторения фоновой картинки */
    color: #333; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт по умолчанию */
}

.container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Выравнивание по центру */
    padding: 20px; /* Внутренние отступы */
}

h1 {
    font-size: 36px; /* Размер заголовка h1 */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    text-transform: uppercase; /* Преобразование текста в заглавные буквы */
}

p {
    font-size: 18px; /* Размер текста */
    line-height: 1.6; /* Межстрочное расстояние */
    text-align: justify; /* Выравнивание по ширине */
    margin-bottom: 20px; /* Внешние отступы снизу */
}
